### define

In [1]:
from uz_parser import UzParser

P = UzParser(
#     mongo_client=mc  # personal db
)

## single tries

In [2]:
date = pd.datetime.now() + pd.DateOffset(14)
from_st = 'Kyiv'
to_st = 'Lviv'
date

Timestamp('2019-06-09 02:00:41.384210')

In [3]:
df = P.search_by_date(date, from_st=from_st, to_st=to_st)
train_nums = df[df['types'].map(len) > 0].index.tolist()
print(len(train_nums))
print(train_nums)
df

11
['015О', '111О', '705К', '715К', '142П', '743Ш', '743Л', '049К', '017О', '007К', '091К']

,allowBooking,allowPrivilege,allowStudent,category,child,disabledPrivilegeByDate,from,isCis,isEurope,isTransformer,to,travelTime,types
num,,,,,,,,,,,,,
015К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",6:22,[]
015О,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",6:22,"[{'id': 'Л', 'title': 'De Luxe / 1-cl. sleeper..."
111О,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",11:11,"[{'id': 'К', 'title': 'Compartment / 2-cl. sle..."
705К,1,0,1,1,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",5:09,"[{'id': 'С1', 'title': 'Seating first class', ..."
715К,1,0,1,1,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",6:55,"[{'id': 'С1', 'title': 'Seating first class', ..."
142П,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",14:54,"[{'id': 'Л', 'title': 'De Luxe / 1-cl. sleeper..."
749Д,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",5:50,[]
749К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",5:50,[]
013К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",9:07,[]
743Ш,1,0,1,1,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",5:10,"[{'id': 'С2', 'title': 'Seating second class',..."
743К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",5:10,[]
743Л,1,0,1,1,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",5:10,"[{'id': 'С1', 'title': 'Seating first class', ..."
081К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",9:12,[]
081Д,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",9:12,[]
244П,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",7:43,[]
043К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",7:43,[]
049К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",8:26,"[{'id': 'Л', 'title': 'De Luxe / 1-cl. sleeper..."
150О,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",9:56,[]
029К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",6:48,[]
017О,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",6:41,"[{'id': 'Л', 'title': 'De Luxe / 1-cl. sleeper..."
017К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",6:41,[]
007К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,1,"{'code': '2218000', 'station': 'Lviv', 'statio...",6:41,"[{'id': 'Л', 'title': 'De Luxe / 1-cl. sleeper..."
091К,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",7:23,"[{'id': 'Л', 'title': 'De Luxe / 1-cl. sleeper..."
046Д,1,0,1,0,"{'minDate': '2005-06-10', 'maxDate': '2019-05-...",1,"{'code': '2200001', 'station': 'Kyiv-Pasazhyrs...",0,0,0,"{'code': '2218000', 'station': 'Lviv', 'statio...",9:20,[]

In [4]:
df = P.get_route(date, from_st=from_st, to_st=to_st, train_num=train_nums[0])
df

,arrivalTime,departureTime,distance,lat,long,name
code,,,,,,
2200001,01:02,01:17,489,50.440058,30.488309,Kyiv-Pasazhyrsky
2218000,07:39,08:04,1061,49.840962,23.994334,Lviv

In [5]:
df = P.get_train_wagons_types(date, from_st=from_st, to_st=to_st, train_num=train_nums[0])
wagon_types = df.index.tolist()
df

           cost  free  isOneCost letter                    title
type_id
Л        146396     1       True      L  De Luxe / 1-cl. sleeper

In [7]:
df = P.get_wagons_by_type(date, from_st=from_st, to_st=to_st, train_num=train_nums[0], wagon_type_id=wagon_types[0])
wagon_nums = df.index.tolist()
df

,air,allowBonus,byWishes,class,free,hasBedding,obligatoryBedding,prices,railway,reservePrice,services,type,type_id
num,,,,,,,,,,,,,
4,None,False,False,Б,1,True,False,{'А': 146396},43,1700,"[М, Н]",Л,Л

In [9]:
df = P.get_wagon_seats(
    date, from_st=from_st, to_st=to_st, train_num=train_nums[0],
    wagon_type_id=wagon_types[0], wagon_num=wagon_nums[0],
    save=False
)
df

  places schemeId                                             scheme
А  [020]      Л20  {"scheme_type":"Л20","model":{"floor":{"1":{"w...

## bulk

In [2]:
from_st = 'Kyiv'
to_st = 'Lviv'

In [3]:
from multiprocessing.pool import ThreadPool

def f(iterable):
    date, from_st, to_st = iterable
    res = P.search_wagon_seats_by_date(date, from_st, to_st, num_try=10)
    return res

In [ ]:
main_dict = {}

for _ in tn(range(10_000)):
    iterable = [(pd.datetime.now() + pd.DateOffset(i), from_st, to_st) for i in range(90)]
    iterable += [(pd.datetime.now() + pd.DateOffset(i), to_st, from_st) for i in range(90)]
    iterable = sum([iterable[i::45] for i in range(45)], [])
    
    TP = ThreadPool(20)
    try:
        res = TP.map(f, iterable, chunksize=1)
        now = pd.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        main_dict[now] = res
        print(f'{now} - {sum(len(_) for _ in res)}')
    except Exception as e:
        now = pd.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
        m = f'[uz_parse] error - {e}'
        print(m)
        tgn(m)

HBox(children=(IntProgress(value=0, max=10000), HTML(value='')))

2019-05-24 03:20:20 - 1048
2019-05-24 03:31:37 - 1049
2019-05-24 03:44:56 - 1034
2019-05-24 03:56:56 - 1050
2019-05-24 04:09:43 - 1048
2019-05-24 04:23:10 - 1048
2019-05-24 04:36:19 - 1049
2019-05-24 04:49:05 - 1049
2019-05-24 05:02:57 - 1050
2019-05-24 05:16:10 - 1049
2019-05-24 05:28:46 - 1049
2019-05-24 05:38:11 - 1048
2019-05-24 05:47:46 - 1044
2019-05-24 05:57:30 - 1038
2019-05-24 06:08:55 - 1034
2019-05-24 06:21:02 - 1036
2019-05-24 06:34:56 - 1032
2019-05-24 06:49:58 - 1033
2019-05-24 07:05:54 - 1033
2019-05-24 07:21:45 - 1028
2019-05-24 07:38:32 - 1031
2019-05-24 07:54:51 - 1024
2019-05-24 08:15:32 - 1064
2019-05-24 08:36:57 - 1079
2019-05-24 08:57:22 - 1068
2019-05-24 09:19:21 - 1066
2019-05-24 09:41:20 - 1067
2019-05-24 10:04:01 - 1071
2019-05-24 10:27:48 - 1070
2019-05-24 10:52:11 - 1070
2019-05-24 11:17:48 - 1062
2019-05-24 11:41:06 - 1057
2019-05-24 12:07:34 - 1050
2019-05-24 12:32:59 - 1052
2019-05-24 12:56:53 - 1052
2019-05-24 13:22:17 - 1055
2019-05-24 13:46:50 - 1056
2019-05-24 14:13:49 - 1054
2019-05-24 14:40:34 - 1051
2019-05-24 15:08:21 - 1050
2019-05-24 15:34:34 - 1041
2019-05-24 15:57:53 - 1034
2019-05-24 16:23:10 - 1048
2019-05-24 16:49:36 - 1041
2019-05-24 17:14:31 - 1041
2019-05-24 17:41:05 - 1047
2019-05-24 18:13:26 - 1046
2019-05-24 18:43:54 - 1051
2019-05-24 19:10:58 - 1042
2019-05-24 19:40:53 - 1048
2019-05-24 20:09:42 - 1044
2019-05-24 20:35:30 - 1050
2019-05-24 21:00:41 - 1050
2019-05-24 21:24:34 - 1051
2019-05-24 21:49:27 - 1053
2019-05-24 22:16:03 - 1050
2019-05-24 22:40:58 - 1048
2019-05-24 23:03:18 - 1043
2019-05-24 23:23:06 - 1037
2019-05-24 23:43:03 - 1033
2019-05-25 00:03:20 - 1037
2019-05-25 00:21:07 - 1040
2019-05-25 00:38:08 - 1034
2019-05-25 00:53:08 - 1028
2019-05-25 01:06:21 - 912
2019-05-25 01:19:27 - 1029
2019-05-25 01:31:18 - 1033
2019-05-25 01:42:50 - 1040
2019-05-25 01:54:19 - 1044
2019-05-25 02:05:52 - 1044
2019-05-25 02:17:12 - 1045
2019-05-25 02:28:04 - 1043
2019-05-25 02:38:20 - 1045
2019-05-25 02:48:27 - 1045
2019-05-25 02:58:16 - 1045
2019-05-25 03:08:09 - 1043
2019-05-25 03:17:32 - 1044
2019-05-25 03:29:07 - 1045
2019-05-25 03:39:33 - 1039
2019-05-25 03:49:19 - 1041
2019-05-25 03:58:49 - 1046
2019-05-25 04:09:51 - 1045
2019-05-25 04:19:31 - 1045
2019-05-25 04:29:35 - 1045
2019-05-25 04:39:53 - 1042
2019-05-25 04:49:33 - 1045
2019-05-25 04:59:50 - 1046
2019-05-25 05:10:55 - 1045
2019-05-25 05:21:49 - 1042
2019-05-25 05:34:49 - 1043
2019-05-25 05:45:48 - 1044
2019-05-25 05:56:48 - 1043
2019-05-25 06:09:51 - 1039
2019-05-25 06:23:27 - 1032
2019-05-25 06:37:28 - 1033
2019-05-25 06:51:48 - 1038
2019-05-25 07:08:39 - 1030
2019-05-25 07:24:23 - 1021
2019-05-25 07:43:35 - 1020
2019-05-25 08:01:57 - 1027
2019-05-25 08:24:09 - 1064
2019-05-25 08:44:28 - 1068
2019-05-25 09:05:41 - 1057
2019-05-25 09:28:23 - 1067
2019-05-25 09:49:48 - 1066
2019-05-25 10:10:20 - 1061
2019-05-25 10:31:59 - 1062
2019-05-25 10:54:33 - 1059
2019-05-25 11:16:11 - 1062
2019-05-25 11:40:17 - 1059
2019-05-25 12:03:48 - 1055
2019-05-25 12:26:42 - 1055
2019-05-25 12:49:30 - 1054
2019-05-25 13:13:08 - 1053
2019-05-25 13:36:14 - 1044
2019-05-25 13:59:06 - 1049
2019-05-25 14:21:19 - 1046
2019-05-25 14:43:06 - 1040
2019-05-25 15:05:04 - 1046
2019-05-25 15:26:45 - 1038
2019-05-25 15:50:21 - 1043
2019-05-25 16:12:53 - 1046
2019-05-25 16:34:24 - 1047
2019-05-25 16:55:43 - 1047
2019-05-25 17:17:18 - 1049
2019-05-25 17:41:58 - 1046

In [ ]:
len(main_dict)